/************************

Global Styling

*************************/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(to bottom right, #c1bfe6, #ea88de);
  background-repeat: no-repeat;
  color: #e2e0e5;
  font: 16px 'Inter', sans-serif;
  height: 100%;
}

h1 {
  font: 72px 'Fira Code', monospace;
  font-weight: bold;
}

/************************

Header Styling

*************************/
header {
  text-align: center;
  padding: 20px 0;
}

nav ul li {
  display: inline;
  padding: 30px;
}

nav ul li a {
  color: #e2e0e5;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

nav ul li a:hover {
  color: #cf57f6;
  transition: .3s;
}

nav ul li a:active {
  color: #12d6df;
}

/************************

Home Page Styling

*************************/
