/************************

Global Styling

*************************/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(to bottom right, #fdfbfb, #ebedee);
  background-repeat: no-repeat;
  color: #111111;
  font: 16px 'Inter', sans-serif;
  height: 100%;
  text-align: center;
}

.logo {
  position: relative;
  float: left;
}

/************************

Header Styling

*************************/
header {
  text-align: center;
  padding: 50px 0;
}

nav ul li {
  display: inline;
  font: 18px 'Inter', sans-serif;
  padding: 30px;
}

nav ul li a {
  color: #111111;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

nav ul li a:hover {
  color: #ff7a95;
  transition: .3s;
}

nav ul li a:active {
  color: #ffb696;
}

/************************

Home Page Styling

*************************/
h1 {
  font: 72px 'Fira Code', monospace;
  font-weight: bold;
  padding: 30px;
}

.career-title {
  font: 48px 'Inter', sans-serif;
  padding: 0 0 50px 0;
}

.view-work,
.contact-me {
  display: inline;
}

.btn-white {
  border: 2px solid #ff7a95;
  border-radius: 24px;
  color: #ff7a95;
  margin: 14px;
  padding: 10px 22px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

.btn-white:hover {
  background: #ff7a95;
  color: #fff;
  transition: .3s;
}
